# Virtual Environment
myenv/
venv/
env/
ENV/

# Environment Variables & Secrets
.env
.env.*
!.env.example

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE files
.vscode/
.idea/
*.swp
.DS_Store
